.main-body-header {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #212533;
}

.brief-info {
  margin-left: max(50px, 5%);
  margin-right: max(50px, 5%);
}

.body-section {
  width: 100%;
}

.link-block {
  color: rgb(255, 255, 255);
}

.main-body-image {
  width: 55%;
  max-width: 1500px;
}

.main-body-text {
  width: 65%;
  text-align: left;
  margin-top: 25px
}
  /* color: rgb(255, 166, 0); */

.section-header {
  color: rgb(255, 186, 57);
  font-size: 45px;
  font-family: Roboto, sans-serif;
  margin-bottom: 20px;
}

.main-title-text {
  color: white;
  font-size: 120px;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
}

.secondary-title-text {
  color: white;
  font-size: 70px;
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
}

@media(max-width: 2100px) {
  .brief-info {
    margin-left: 10px;
    margin-right: 10px;
  }

  .main-body-text {
    width: 70%;
  }
}

@media(max-width: 1800px) {
  .brief-info {
    margin-left: 6px;
    margin-right: 6px;
  }

  .main-title-text {
    font-size: 100px;
    margin-bottom: 10px;
  }

  .secondary-title-text {
    margin-top: 10px;
    font-size: 60px;
  }

  .main-body-text {
    width: 80%;
  }
}

@media(max-width: 1450px) {
  .main-title-text {
    margin-top: 60px;
    margin-bottom: 20px;
  }

  .secondary-title-text {
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .main-body-header {
    flex-direction: column;
  }

  .main-body-image {
    width: 100%;
    max-width: 100%;
  }

  .main-body-text {
    width: 90%;
  }
}