.side-header-bar {
  background-color: darkcyan;
  border-bottom: 1px solid #e5e5e5;
  line-height: 40px;
  padding: 0 10px;
  height: 100vh;

  border-color: green;
  border-style: solid;
  border-width: 3px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;

  display: flex;
  flex-direction: column;
  align-items: left;
}

@keyframes scroll-sidebar {
  from {min-width: 60px};
  to {min-width: 250px};
}

.side-header-bar.active {
  min-width: 250px;
  animation-name: scroll-sidebar;
  animation-duration: 1s;
}

.side-header-bar.inactive {
  min-width: 60px;
}

.hamburger-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 30px;
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 25px;
  margin: 0px;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;

  width: 35px;
}

.hamburger-icon.inactive {
  display: none;
}

.hamburger-icon.active {
  display: flex;
}

.hamburger-icon:hover {
  width: 40px;
  cursor: pointer;
}

.hamburger-icon-line {
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
}

.sidebar-nav-button {
  height: 70px;
}

.sidebar-nav-buttons {
  padding-top: 60px;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p.sidebar-nav-text-button {
  font-size: 25px;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
}

p.sidebar-nav-text-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

@keyframes sidebar-nav-buttons-scroll {
  from {transform: translate3d(-180px, 0, 0); width: 0px;};
  to {transform: translate3d(0, 0, 0); width: 100%;};
}

.sidebar-nav-buttons.active {
  padding: 15px;
  display: flex;
  animation-name: sidebar-nav-buttons-scroll;
  animation-duration: 1s;
}

.sidebar-nav-buttons.inactive {
  display: none;
  transform: translate3d(-300px, 0, 0);
}

.sidebar-hamburger-close.active {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  font-size: 40px;
  color: #fff;
}

.sidebar-hamburger-close:hover {
  font-size: 40px;
  cursor: pointer;
}

.sidebar-hamburger-close.inactive {
  display: none;
}
